html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Times New Roman, Times, sans-serif;
	margin: 0;
	padding: 0;
	background-color: F4FFFF;
}
.wrapper {
	margin: 0 auto;
	padding: 1em;
}
fieldset {
	margin-bottom: 1em;
	background-color: E8FFFF;
	border: solid 2px blue;
	width: 75%;
}
legend {
	font-weight: bold;
	background-color: E2FFFF;
	border: solid 1px blue;
}
label {
	display: block;
}
input{
	width: auto;
	height: auto;
}
input[id="definition"] {
	width: 90%;
	height: 5em;
}
input[id="relation"] {
	width: 90%;
	height: 5em;
}
header, nav {
	background-color: pink;
	overflow: auto;
}
header h1 {
	width: 40%;
	float: left;
}
nav {
	font-weight: bold;
	font-color: blue;
	width: 75%;
	float: right;
}
nav ul {
	text-align: right;
}
nav li {
	display: inline;
}
nav a {
	padding: 1em 1em 0 1em;
	text-decoration: none;
	color: blue;
}
nav a:visited {
	color: blue;
}
nav a:hover {
	background-color: green;
}
span {
	font-family: algerian, courier;
	width: 0.5em;
	font-size: 3em;
	line-height: 1em;
	padding-right: .7em;
}
p {
	clear: both;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.clearfloat {
	clear: both;
}
.box {
	border: solid 2px red;
	float: left;
	position: relative;
	border-radius: 25px;
	box-shadow: 20px 10px 10px #777777;
}
.clearfloat {
	clear: both;
}
.boxwrapper {
	width: 98%;
	margin: 1em 1em 1em 1em;
	padding: 1em 1em 1em 1em;
	-webkit-columns: 3 32%;
    -moz-columns: 3 32%;
    columns: 3 32%;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    overflow: auto;
}
#leftbox {
	left: -1em;
	top: -1em;
	border: solid 2px orange;
	background-color: #FFCCFF;
	float: left;
	width: 32%;
	text-align: center;
}
#centerbox {
	left: 1em;
	top: -1em;
	border: solid 2px red;
	background-color: #FFCC99;
	width: 32%;
}
#rightbox {
	left: 1em;
	top: -1em;
	border: solid 2px #1A1A0A;
	background-color: #FFFF66;
	float: right;
	width: 32%;
}
div > legend {
	text-align: center;
	font-weight: bold;
	border: none;
	background-color: transparent;
}